# Игнорируем все объектные файлы
*.o
*.obj

# Игнорируем исполняемые файлы
*.exe
*.out
*.app

# Игнорируем папки для сборки (если они есть)
build/
bin/

# Игнорируем файлы настроек IDE (например, для VSCode)
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем скомпилированные файлы с расширением .d или .dep
*.d
*.dep
